- name: Config dhcp server
  hosts: all
  
  tasks:

  - name: Install dhcp role
    ansible.windows.win_feature:
     name: DHCP
     state: present

  - name: Configurin DNS settings
    ansible.windows.win_dns_client:
     adapter_names: '*'
     dns_servers:
      - 10.247.192.8
      - 10.247.7.10
      - 10.247.7.11
     log_path: C:\dns_log.txt


  - name: Install xDhcpServer DSC resource
    win_psmodule:
     name: xDhcpServer
     state: present


  - name: Create dhcp scope
    win_dsc:
      resource_name: xDhcpServerScope
      ScopeOptions:
      - Name: xDhcpServerScope
      - IPStartRange: 192.168.0.3
      - IPEndRange: 192.168.0.7
      - Name: TestScope1
      - SubnetMask: 255.255.255.240
      - State: Active
      - Ensure: Present
      - LeaseDuration: 7:00:00
       